{% extends 'layout.html.twig' %}

{% block content %}
<ul>
    <li><a href="">Hors connexion &amp; Stockage</a>
    <ul>
        <li><a href="#">Local storage</a></li>
        <li><a href="#">Index DB</a></li>
        <li><a href="#">File API</a></li>
    </ul>
    </li>
    <li><a href="">Audio/Vidéo</a>
    <ul>
        <li><a href="/video">Video</a></li>
    </ul>
    </li>
    <li>3D/Graphismes/Animations
    <ul>

        <li>Svg
        <ul>
            <li><a href="/svg/bar-charts">Charts</a></li>
            <li><a href="/svg/analytics">Analytics</a></li>
            <li><a href="http://thepowerrank.com/visual/NCAA_Tournament_Predictions">NCAA_Tournament_Predictions</a></li>
        </ul>
        </li>
        <li>Canvas
        <ul>
          <li><a href="http://airtightinteractive.com/demos/js/reactive/">Reactive</a></li>
        </ul>
        </li>
        <li><a href="http://hexgl.bkcore.com/">WebGl</a></li>
        <li>CSS3 Animations / Transition</li>
    </ul>
    </li>
</ul>
<ul>
{% endblock %}
