{% extends 'layout.html.twig' %}

{% block content %}
<ul>
    <li>Svg
        <ul>
            <li><a href="/svg/bar-charts">Charts</a></li>
            <li><a href="/svg/analytics">Analytics</a></li>
        </ul>
    </li>
    <li><a href="/video">Video</a></li>
</ul>
{% endblock %}
