{% extends 'layout.html.twig' %}

{% block javascripts %}
<script src="/js/libs/jquery-1.8.2.min.js"></script>
<script src="/js/video.js"></script>
<script>
$(document).ready(function() {

    video.init($('#video-bg:first'));
    video.play();

});
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/video.css" />
{% endblock %}

{% block content %}
<h2>HTML5 Videos + Css3</h2>
<video id="video-bg" autoplay></video>

<h3>Plus de démos</h3>
<ul>
  <li>
    <a href="http://webcamtoy.com/fr/">Webcam Toy</a>
  </li>
</ul>
{% endblock %}

