.reveal p.overhead,
.reveal ul.overhead {
    margin-top: 3em;
    margin-bottom: 1em;
}
.column {
    float: left;
    width: 50%;
}
.focus1 {
    font-size: bold;
    color: #f00;
}
.focus2 {
    font-size: bold;
    color: #0f0;
}
.focus3 {
    font-size: bold;
    color: #00f;
}